@import "variables";
@import "defaults";

body {
    background-repeat: repeat;
    background-position: center 12px;
    background-color: white;
    position: relative;
}

#mainbody {
    position: relative;
}

.mm-background {
    text-align: center;
}

.mm-header {

    text-align: left;
}

.mm-header__nav {
    display: inline;
}
.mm-header__link {
    display: inline-block;
    height: 103px;
    vertical-align: top;
    padding: 41px;
}
.mm-header__profile-link {
    padding-top: 23px;
}
.mm-header__link:focus,
.mm-header__link:hover,
.mm-header__link.active,
{
    background-color: @gray-lighter;
}


.mm-logo {
    padding-bottom: 20px;
    padding-top: 20px;
    height: 64px;
    display: inline-block;
    text-align: left;
    margin-left: 30px;
}

.mm-logo__link {
    display: inline;
}

.mm-logo__image {
    margin: 0 auto;
    display: inline;
}

.mm-logo__text {
    font-family: gesta, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: @facebook-blue;
    display: inline;
    margin-left: 10px;
}

.mm-logo__link:focus,
.mm-logo__link:hover,
{
    .mm-logo__text {
        color: @twitter-blue;
    }
    text-decoration: none;
}

.mm-hero {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: @facebook-blue;
}

.mm-hero--secondary {
    background-color: @twitter-blue;
}

.mm-hero--third {
    background-color: @google-plus-red;
}

.mm-hero--light {
    background-color: white;
}

.mm-marketing-text {
    -webkit-font-smoothing: subpixel-antialiased;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: gesta, sans-serif;
    font-size: @base-font-size * 3;
    font-weight: normal;
}

.mm-marketing-text--smaller {
    font-size: @base-font-size * 2.5;
}

.mm-marketing-text--black {
    color: rgb(54, 54, 54);
}

.mm-tc {
    margin: 20px;
}

.mm-footer {
}

.mm-footer__heading {
    font-size: @base-font-size *1.4;
    text-align: left;
    border-bottom-color: #2f2f2f;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.mm-grid__section {
    margin: 40px 80px 0px 80px;
    text-align: left;
}

.footer__link {
    display: block;
}

.footer__social-link-text {
    //    vertical-align: 50%;
}

.mm-share-btn {
    margin-top: 10px;
    font-size: @base-font-size *2;
}

.mm-share-btn--twitter {
    color: @twitter-blue;
}

.mm-share-btn--google-plus {
    color: @google-plus-red;
}

.mm-share-btn--pinterest {
    color: @pinterest-red;
}






.mm-article-theme {
    background-color: @gray-lighter;
    text-align: left;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    p {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media (max-width: 600px) {
    .mm-article-theme {
        font-size: 18px;
    }
}

.mm-article-theme-bg {
    background-color: white;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.mm-responsivead-bottom {
    margin: 0 auto;
    text-align: center;
}

.mm-responsivead-right {
    width: 0px;
    left: inherit;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: 50px;
    margin-right: 50px;
    display: none;
}

@media (min-width: 600px) and (max-width: 1130px) {
    .mm-responsivead-right {
        width: 160px;
        display: block;
    }
}

@media (min-width: 1131px) and (max-width: 1449px) {
    .mm-responsivead-right {
        width: 250px;
        display: block;
    }
}

@media (min-width: 1500px) {
    .mm-responsivead-right {
        width: 400px;
        display: block;
    }
}

.mm-hide-btn {
    position: relative;
    left: 0;
    right: 0;
    top: -45px;
}

@media (min-width: 481px) {
    .mm-hide-btn {
        display: none;
    }
}

.mm-like {
    position: fixed;
    left: 0;
    right: 0;
    top: 4px;
    margin: 0 auto;
    text-align: center;

}

.fb-like {
    background-color: aliceblue;
}

@media (max-width: 481px) {
    .mm-like {
        display: none;
    }
}



