body {
  font-size: 18px;
}
a {
  color: #3b5997;
}
a:hover,
a:focus {
  color: #4098fd;
  text-decoration: none;
}
.btn-danger {
  background-color: #ed142e;
}
.btn-warning {
  background-color: #ed9c28;
}
.btn-warning:hover {
  background-color: #f0ad4e;
}
.row {
  margin: 0;
}
body {
  background-repeat: repeat;
  background-position: center 12px;
  background-color: white;
  position: relative;
}
#mainbody {
  position: relative;
}
.mm-background {
  text-align: center;
}
.mm-header {
  text-align: left;
}
.mm-header__nav {
  display: inline;
}
.mm-header__link {
  display: inline-block;
  height: 103px;
  vertical-align: top;
  padding: 41px;
}
.mm-header__profile-link {
  padding-top: 23px;
}
.mm-header__link:focus,
.mm-header__link:hover,
.mm-header__link.active {
  background-color: #eeeeee;
}
.mm-logo {
  padding-bottom: 20px;
  padding-top: 20px;
  height: 64px;
  display: inline-block;
  text-align: left;
  margin-left: 30px;
}
.mm-logo__link {
  display: inline;
}
.mm-logo__image {
  margin: 0 auto;
  display: inline;
}
.mm-logo__text {
  font-family: gesta, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #3b5997;
  display: inline;
  margin-left: 10px;
}
.mm-logo__link:focus,
.mm-logo__link:hover {
  text-decoration: none;
}
.mm-logo__link:focus .mm-logo__text,
.mm-logo__link:hover .mm-logo__text {
  color: #4098fd;
}
.mm-hero {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #3b5997;
}
.mm-hero--secondary {
  background-color: #4098fd;
}
.mm-hero--third {
  background-color: #ed142e;
}
.mm-hero--light {
  background-color: white;
}
.mm-marketing-text {
  -webkit-font-smoothing: subpixel-antialiased;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  font-family: gesta, sans-serif;
  font-size: 54px;
  font-weight: normal;
}
.mm-marketing-text--smaller {
  font-size: 45px;
}
.mm-marketing-text--black {
  color: #363636;
}
.mm-tc {
  margin: 20px;
}
.mm-footer__heading {
  font-size: 25.2px;
  text-align: left;
  border-bottom-color: #2f2f2f;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.mm-grid {
  padding-bottom: 40px;
}
.mm-grid__section {
  margin: 40px 80px 0px 80px;
  text-align: left;
}
@media (max-width: 480px) {
  .mm-grid__section {
    margin: 20px 40px 0px 40px;
  }
}
.footer__link {
  display: block;
}
.mm-share-btn {
  margin-top: 10px;
  font-size: 36px;
}
.mm-share-btn--twitter {
  color: #4098fd;
}
.mm-share-btn--google-plus {
  color: #ed142e;
}
.mm-share-btn--pinterest {
  color: #ca2027;
}
.mm-highlighted-new {
  text-align: center;
  border: 3px dashed #008000;
  display: block;
}
.mm-highlighted-new:hover {
  border: 3px dashed orange;
}
.mm-highlighted-new:hover .mm-highlighted-new__text {
  color: orange;
}
.mm-highlighted-new__text {
  text-align: center;
  font-size: 30.6px;
  font-weight: bold;
  color: #008000;
}
.mm-article-theme {
  background-color: #eeeeee;
  text-align: left;
  font-size: 25px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.mm-article-theme p {
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  .mm-article-theme {
    font-size: 18px;
  }
}
.mm-article-theme-bg {
  background-color: white;
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.mm-responsivead-bottom {
  margin: 0 auto;
  text-align: center;
}
.mm-responsivead-right {
  width: 0px;
  left: inherit;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 50px;
  margin-right: 50px;
  display: none;
}
@media (min-width: 600px) and (max-width: 1130px) {
  .mm-responsivead-right {
    width: 160px;
    display: block;
  }
}
@media (min-width: 1131px) and (max-width: 1449px) {
  .mm-responsivead-right {
    width: 250px;
    display: block;
  }
}
@media (min-width: 1500px) {
  .mm-responsivead-right {
    width: 400px;
    display: block;
  }
}
.mm-hide-btn {
  position: relative;
  left: 0;
  right: 0;
  top: -45px;
}
@media (min-width: 481px) {
  .mm-hide-btn {
    display: none;
  }
}
.mm-like {
  position: fixed;
  left: 0;
  right: 0;
  top: 4px;
  margin: 0 auto;
  text-align: center;
}
.fb-like {
  background-color: aliceblue;
}
@media (max-width: 481px) {
  .mm-like {
    display: none;
  }
}
/*# sourceMappingURL=/static/css/style.css.map */