{% extends 'templates/base.jinja2' %}

{% block headers %}
    <title>Evangeler Social Marketing - About</title>
    {% set desc = 'Evangeler Helps Companies Create Viral Marketing Campaigns! Evangelers compete on Evangeler.com to win prizes!' -%}
    <meta name="description"
          content="{{ desc }}">

    <meta name="keywords"
          content="crowdsourcing marketing, viral marketing, facebook marketing, marketing, social marketing, about evangeler">
    <meta property="og:title" content="Evangeler Social Marketing For The Masses! - About">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image"
          content="http://www.evangeler.com/static/img/evangeler-logo128.png">
    <meta property="og:description"
          content="{{ desc }}">
{% endblock %}

{% block mainbody %}
    {% include "/templates/shared/about.jinja2" %}
{% endblock %}
