{% import "lib/templates/templates.jinja2" as lib %}
{% import "templates/macros.jinja2" as macros with context %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    {% block headers %}

    {% endblock %}

    {{ macros.headers() }}

    {{ lib.cssheaders() }}
    {{ macros.cssheaders() }}

    {% block css %}

    {% endblock %}
    {{ lib.jsheaders() }}

    {{ macros.jsvars() }}
    {{ macros.jsheaders() }}
    <script>
        var STATUS = {{ fixtures.STATUS }};
        var CURR_CURSOR = '{{ next_page_cursor }}';
    </script>
    {% block js %}

    {% endblock %}
</head>
<body>
{{ macros.fbstuff() }}
<div id="modal"></div>
<div class="mm-background">
    <div id="headerbody">
        {% include "/templates/shared/header.jinja2" %}
    </div>

    <div id="mainbody">
        {% block mainbody %}

        {% endblock %}
    </div>

    <div id="footerbody">
        {% include "/templates/shared/footer.jinja2" %}
    </div>

</div>

</body>
</html>
