{% extends 'templates/base.jinja2' %}

{% block headers %}

    {% set title = company.name + ' On Evangeler' -%}
    {% set desc = 'Check out ' + company.name + ' on Evangeler! ' + company.about -%}

    <title>{{ title }}</title>
    <meta name="description"
          content="{{ desc }}">

    <meta name="keywords"
          content="crowdsourcing marketing, viral marketing, facebook marketing, marketing, social marketing">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image"
          content="{{ company.pic }}">
    <meta property="og:description"
          content="{{ desc }}">
{% endblock %}

{% block mainbody %}
    {% include "/templates/shared/company.jinja2" %}
{% endblock %}
