{% extends 'templates/base.jinja2' %}

{% block headers %}

    {% set title = 'Evangeler - Companies Already Using Evangeler' -%}
    {% set desc = 'Evangeler Helps Business By Giving Them Access To Millions of Marketers! The People! Anyone Can Win Prizes On Evangeler!' -%}

    <title>{{ title }}</title>
    <meta name="description"
          content="{{ desc }}">

    <meta name="keywords"
          content="crowdsourcing marketing, viral marketing, facebook marketing, marketing, social marketing">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image"
          content="http://www.evangeler.com/static/img/evangeler-logo128.png">
    <meta property="og:description"
          content="{{ desc }}">
{% endblock %}

{% block mainbody %}

    <p id="cursor" style="display: none" data-cursor="{{ next_page_cursor }}"></p>
    {% include "/templates/shared/companies.jinja2" %}
{% endblock %}
