
{% extends 'templates/base.jinja2' %}

{% block headers %}
    <title>Evangeler Social Marketing - How It Works</title>
    <meta name="description"
          content="Create Viral Marketing Campaigns! Promote Your Product With The Power Of The People! Free For A Limited Time!">

    <meta name="keywords"
          content="crowdsourcing marketing, viral marketing, facebook marketing, marketing, social marketing">
    <meta property="og:title" content="Evangeler - Social Marketing For The Masses!">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image"
          content="http://www.evangeler.com/static/img/evangeler-logo128.png">
    <meta property="og:description"
          content="Create Viral Marketing Campaigns! Promote Your Product With The Power Of The People! Free For A Limited Time!">
{% endblock %}

{% block mainbody %}
    {% include "/templates/shared/how-it-works.jinja2" %}
{% endblock %}
