

{% macro headers() -%}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
{%- endmacro %}

{% macro cssheaders() -%}
    <link rel="stylesheet" href="/lib/static/font-awesome-4.0.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/lib/static/css/social-likes.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css"/>
{%- endmacro %}

{% macro jsheaders() -%}
    <script type="text/javascript" src="/static/js/game.js"></script>

    <script>

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-41301467-1', 'evangeler.com');
        ga('send', 'pageview');

    </script>
{%- endmacro %}



{%- macro jsvars() %}
    <script type="text/javascript">

    </script>
{%- endmacro %}

{%- macro shareButtons() %}
    <i class="fa fa-twitter-square"></i>

{%- endmacro %}

{%- macro responsiveAd() %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- responsiveAd -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7026363262140448"
         data-ad-slot="9824934150"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
{%- endmacro %}

{%- macro shareBtnsHorizontal(differenturl) %}
    {% if not differenturl %}
        {% set differenturl = url %}
    {% endif %}
    <ul class="social-likes" data-url="{{ differenturl }}">
        <li class="facebook" title="Share link on Facebook">Facebook</li>
        <li class="twitter" data-via="evangeler" data-related="evangeler:Evangeler Tweeting About Puzzles and Games"
            title="Share link on Twitter">Twitter
        </li>
        <li class="plusone" title="Share link on Google+">Google+</li>
        <li class="pinterest" title="Share image on Pinterest" data-media="{{ differenturl }}">Pinterest</li>
    </ul>
{%- endmacro %}

{%- macro fbstuff() %}
    <div id="fb-root"></div>
    <script>
        // Load the SDK asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement('script');
            js.id = id;
            js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));
    </script>
    <script src="/static/js/facebook-integration.js" type="application/javascript"></script>
{%- endmacro %}

{%- macro buybutton() %}
    <div id="buy">
        {% if current_user.name %}
            <button id="buybutton" class="btn btn-large btn-warning" onclick="purchase('Gold')" type="button">Buy $0.97
                !
            </button>
        {% else %}
            <button id="buybutton" class="btn btn-large btn-warning" onclick="purchase('Gold')" type="button" disabled>
                Buy $0.97 !
            </button>
        {% endif %}
    </div>
{%- endmacro %}

{%- macro buyLink() %}
    <div id="buy">
        <a id="buylink" href="https://evangeler.appspot.com/buy" class="btn btn-large btn-warning" target="_blank">Buy
            Full Game $0.97</a>
    </div>
{%- endmacro %}

{%- macro campaignLink() %}
    <div id="buy">
        <a id="buylink" href="/campaign/level1" class="btn btn-large btn-warning">Get Campaign Mode!</a>
    </div>
{%- endmacro %}

{%- macro loginoutbutton() %}
    <div id="loginlogout">
        {% if current_user.name %}
            <p>Hi, {{ current_user.name }}
                {% if current_user.profile_url %}
                    <a class="btn btn-danger" onclick="fb_logout();">Log Out</a>
                {% else %}
                    <a class="btn btn-danger" href="{{ glogout_url }}">Log Out</a>
                {% endif %}
            </p>
        {% endif %}
        {% if current_user.cookie_user %}
            <button class="btn btn-danger" onclick="loginmodal()" tpye="button">Log In</button>
        {% endif %}
    </div>
{%- endmacro %}

{%- macro standardgameoptions() %}
    {% if 'campaign/level' in url %}
        <div class="gameoption">
            <a class="btn btn-large btn-danger" href="/campaign" title="Evangeler Campaign Game Levels">Menu</a>
        </div>
    {% endif %}
    <div id="score" onclick="showHighScores()">
        <button class="btn btn-large btn-danger" type="button">Score: 0</button>
    </div>
    {% if 'multiplayer' in url %}
        <div id="score2" onclick="showHighScores()">
            <button class="btn btn-large btn-primary" type="button">Score: 0</button>
        </div>
    {% endif %}
    <div id="newgame">
        <button class="btn btn-large btn-danger" onclick="newGame()" type="button">New Game!</button>
    </div>
    <div id="difficulty">
        <button id="changedifficultybutton" class="btn btn-large btn-danger" onclick="showChangeDifficultyDialog()"
                type="button">Difficulty: {% if current_user.difficulty==MEDIUM %}Medium
            {% else %}{% if current_user.difficulty == HARD %}Hard{% else %}Easy{% endif %}{% endif %}</button>
    </div>
    {% if 'timed' not in url %}
        <div id="timedlink">
            <a id="timedlinkbutton" href="/timed" class="btn btn-large btn-danger" title="Play Evangeler Timed!">Timed
                Mode!</a>
        </div>
    {% endif %}
    {% if 'multiplayer' not in url %}
        <div id="multiplayerlink">
            <a id="multiplayerlinkbutton" href="/multiplayer" class="btn btn-large btn-primary"
               title="Play Evangeler Multiplayer!">Multiplayer Mode!</a>
        </div>
    {% endif %}

    {% if current_user.gold %}
        {% if 'campaign' not in url %}
            <div id="campaign">
                <a id="campaignbutton" href="/campaign" class="btn btn-large btn-warning">Campaign!</a>
            </div>
        {% endif %}
    {% else %}
        {{ campaignLink() }}
    {% endif %}
{%- endmacro %}

{%- macro paypalbuyform() %}
    <script id="paypalbuyform" src="/static/js/paypal-button.min.js?merchant=P43U2BDEMJJXL"
            data-button="buynow"
            data-name="Evangeler"
            data-quantity="1"
            data-amount="0.97"
            data-shipping="0"
            data-tax="0"
            data-callback="http://www.evangeler.com/ipn/{{ current_user.id }}"
            data-return="http://www.evangeler.com/makegold"
            {% if ws.debug %}
            data-env="sandbox"
            {% endif %}
            ></script>
    <!--<form action="https://api-3t.sandbox.paypal.com/nvp" method="post">
      <p>
        <input id="submitBtn" type="submit"
        value="Pay with PayPal" />
        <input type="hidden" name="success_url"
        value="https://evangeler.appspot.com/buy" />
        <input type="hidden" name="cancel_url"
        value="https://evangeler.appspot.com/buy">
      </p>
    </form>
     <form action="checkout.php" METHOD="POST">
      <input type="image" name="paypal_submit" id="paypal_submit" src="https://www.paypal.com/en_US/i/btn/btn_dg_pay_w_paypal.gif" border="0" align="top" alt="Pay with PayPal"/>
    </form> -->
{%- endmacro %}

{%- macro paypalincludes() %}
    <script src="https://www.paypalobjects.com/js/external/dg.js"></script>
    <script>
        var dg = new PAYPAL.apps.DGFlow({
            // the HTML ID of the form submit button which calls setEC
            trigger: 'submitBtn'
            // the experience type: instant or mini
            expType: 'instant'
        });
    </script>
    <script>
        if (window.opener) {
            window.close();
        }
        else if (top.dg.isOpen() == true) {
            top.dg.closeFlow();
        }
    </script>
{%- endmacro %}
