<div class="mm-hero">
    <h2 class="mm-marketing-text">
        Evangeler Helps Companies Create Viral and Social Marketing Campaigns.
    </h2>

    <h3 class="mm-marketing-text mm-marketing-text--smaller">
        Companies offer cash prizes on evangeler.com in exchange for people promoting there products
    </h3>
</div>
<div class="mm-hero mm-hero--light">
    <h2 class="mm-marketing-text mm-marketing-text--black">
        Helping Business;
    </h2>

    <h3 class="mm-marketing-text mm-marketing-text--smaller mm-marketing-text--black">
        Evangeler gives businesses direct access to millions of marketers!
    </h3>
    <button type="button" class="gameon-btn-hg btn btn-success btn-lg">Browse Categories
    </button>
</div>
<div class="mm-hero mm-hero--secondary">
    <h2 class="mm-marketing-text">
        Helping People;
    </h2>

    <h3 class="mm-marketing-text mm-marketing-text--smaller">
        Win cash prizes for promoting products you love!
    </h3>
    <button type="button" class="gameon-btn-hg btn btn-warning btn-lg">Browse Contests
    </button>
</div>
