<div class="mm-hero pistachio">

    <h2 class="mm-marketing-text mm-marketing-text--smaller">
        My Contests.
    </h2>
</div>
<div class="contest-thumbs">

</div>
<div class="mm-grid">

    <div class="row">

        <div class="col-md-6">
            <a href="/categories" class="mm-grid__section mm-highlighted-new" title="Create a New Contest!"
               onclick="return APP.goto('categories')">
                <h4 class="mm-highlighted-new__text">New</h4>
            </a>
        </div>
    </div>
</div>

<div class="mm-hero mm-hero--secondary morange">
    <h2 class="mm-marketing-text mm-marketing-text--smaller">
        My Pages.
    </h2>
</div>
<div class="company-thumbs">

</div>

