<div class="mm-hero">

    <h3 class="mm-marketing-text mm-marketing-text--smaller">
        My Contests.
    </h3>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="mm-grid__section">

            <h4 class="mm-footer__heading">Company</h4>
        </div>
    </div>
    <div class="col-md-6">
        <div class="mm-grid__section">

            <h4 class="mm-footer__heading">Social</h4>
        </div>
    </div>
    <div class="col-md-6">
        <div class="mm-grid__section">

            <h4 class="mm-footer__heading">Social</h4>
        </div>
    </div>
</div>

<div class="mm-hero mm-hero--secondary">
    <h3 class="mm-marketing-text mm-marketing-text--smaller">
        My Pages.
    </h3>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="mm-grid__section">

            <h4 class="mm-footer__heading">Company</h4>
        </div>
    </div>
    <div class="col-md-6">
        <div class="mm-grid__section">

            <h4 class="mm-footer__heading">Social</h4>
        </div>
    </div>
</div>
