<div class="mm-hero pistachio">

    <h2 class="media-heading mm-marketing-text mm-marketing-text--smaller">
        <div class="icon-container icon-container--white">
            <i class="fa fa-trophy icon-container__icon"></i>
        </div> My Contests.
    </h2>
</div>
<div class="contest-thumbs">

</div>


<div class="mm-hero mm-hero--secondary morange">
    <h2 class="mm-marketing-text mm-marketing-text--smaller">
        <div class="icon-container icon-container--white">
            <i class="fa fa-university icon-container__icon"></i>
        </div>
        My Pages.
    </h2>
</div>
<div class="company-thumbs">

</div>

