<div class="mm-hero pistachio">

    <h1 class="mm-marketing-text mm-marketing-text--smaller">
        Social Marketing Contest Categories
    </h1>
</div>
<div class="mm-grid">

    <div class="row">
        <div class="col-md-6">
            <a class="mm-grid__section" href="/launch/reshare" title="Launch a Reshare contest!">
                <h4 class="mm-footer__heading">Reshare Contest</h4>
                <p class="normal-text">People share your facebook post and compete to get the most likes on their share!</p>
                <p class="normal-text"><b>Benefits:</b> cost effective, reach large audiences, brand awareness, increase facebook page activity.</p>
            </a>
        </div>
        <div class="col-md-6">
            <a class="mm-grid__section" href="/launch/hashtag" title="Launch a Hashtag contest!">
                <h4 class="mm-footer__heading"># Hashtag Contest</h4>
                <p class="normal-text">People create pictures or videos promoting your brand and hashtag them!</p>
                <p class="normal-text"><b>Benefits:</b> customer engagement, brand awareness, brand authority.</p>
            </a>
        </div>
    </div>
</div>
<div class="mm-grid lighter-gray">

    <div class="row">
        <div class="col-md-6">
            <a class="mm-grid__section" href="/launch/article-marketing" title="Launch a Reshare contest!">
                <h4 class="mm-footer__heading">Article Marketing Contest</h4>
                <p class="normal-text">People compete to create the best article about your brand!</p>
                <p class="normal-text"><b>Benefits:</b> affordable marketing content, brand awareness, Increased search rankings.</p>
            </a>
        </div>
        <div class="col-md-6">
            <a class="mm-grid__section" href="/launch/review" title="Launch a Hashtag contest!">
                <h4 class="mm-footer__heading">Review Contest</h4>
                <p class="normal-text">People compete to give your product the best reviews!</p>
                <p class="normal-text"><b>Benefits:</b> customer engagement, brand awareness, authority &amp; trust, increased sales and reputation with 3rd party stores and resellers.</p>
            </a>
        </div>
    </div>
</div>

