<div class="mm-hero pistachio">

    <h1 class="mm-marketing-text mm-marketing-text--smaller">
        Businesses On Evangeler
    </h1>
</div>

{# NOTE copied from company-thumbs!!! #}
<div class="mm-grid">
    <div class="row">

        {% for company in companies %}
            <div class="col-md-6">
                <div class="mm-grid__section">

                    <div class="media">

                        <a class="pull-left" href="{{ company.link }}">
                            <img class="media-object" src="{{ company.pic }}" alt="{{ company.name }} Logo" width="100"
                                 height="100">
                        </a>

                        <div class="media-body">
                            <a class="media-heading mm-footer__heading" href="{{ company.link }}">{{ company.name }}</a>

                            <p class="text-smaller">{{ company.about }}</p>
                            {% if showEditButtons %}
                                <a class="btn" href="/companies/{{ company.url_title }}" title="View {{ company.name }}">View</a>
                                |
                                <a class="btn" href="/companies/edit/{{ company.url_title }}"
                                   title="Edit {{ company.name }}">Edit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}

        {% if createcompany %}
            <div class="col-md-6">
                <a href="/new-page" class="mm-grid__section mm-highlighted-new"
                   title="Create a New Page On Evangeler.com"
                   onclick="return APP.goto('new-page')">
                    <h4 class="mm-highlighted-new__text">New</h4>
                </a>
            </div>
        {% endif %}
    </div>
</div>
