<div class="mm-hero">
    <h2 class="mm-marketing-text">
        Evangeler Helps Companies Create Viral and Social Marketing Campaigns.
    </h2>

    <h3 class="mm-marketing-text mm-marketing-text--smaller">
        Give us an email at leepenkman@evangeler.com
    </h3>
    <a href="mailto:leepenkman@evangeler.com" type="button" class="gameon-btn-hg btn btn-warning btn-lg">Email Us
    </a>
</div>
<div class="mm-hero mm-hero--light">
    <h2 class="mm-marketing-text mm-marketing-text--black">
        2: Pick &amp; run a viral marketing contest you like!
    </h2>

    <h3 class="mm-marketing-text mm-marketing-text--smaller mm-marketing-text--black">
        Evangelers from all over the world compete to promote your product and win cash prizes
    </h3>
    <button type="button" class="gameon-btn-hg btn btn-success btn-lg">Browse Categories
    </button>
</div>
<div class="mm-hero mm-hero--secondary">
    <h2 class="mm-marketing-text">
        3: Award a winner!
    </h2>

    <h3 class="mm-marketing-text mm-marketing-text--smaller">
        For best results share your contest at every stage!
    </h3>
</div>
