
<div class="mm-footer">
    <div class="row">
        <div class="col-md-6">
            <div class="mm-grid__section">

                <h4 class="mm-footer__heading">Company</h4>
                {% if '/contact' == path %}
                    <span>Contact</span>
                {% else %}
                    <a class="footer__link" href="/contact" title="Contact Us"
                       onclick="return APP.goto('contact')">Contact</a>
                {% endif %}
                {% if '/about' == path %}
                    <span>About Us</span>
                {% else %}
                    <a class="footer__link" href="/about" title="About Evangeler"
                       onclick="return APP.goto('about')">About</a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="mm-grid__section">

                <h4 class="mm-footer__heading">Social</h4>
                <a class="footer__link" href="https://www.facebook.com/pages/Evangeler/721564427863714" title="Evangeler on Facebook"
                   target="_blank">
                    <span class="fa fa-facebook-square mm-share-btn mm-share-btn--facebook"></span><span
                        class="footer__social-link-text"> Facebook</span>
                </a>
                <a class="footer__link" href="http://www.twitter.com/evangelersays" title="Evangeler on Twitter"
                   target="_blank">
                    <span class="fa fa-twitter-square mm-share-btn mm-share-btn--twitter"></span><span
                        class="footer__social-link-text"> Twitter</span>
                </a>
                <a class="footer__link" href="http://www.pinterest.com/evangeler" title="Evangeler on Pinterest"
                   target="_blank">
                    <span class="fa fa-pinterest-square mm-share-btn mm-share-btn--pinterest"></span><span
                        class="footer__social-link-text"> Pinterest</span>
                </a>
                <a class="footer__link" href="https://plus.google.com/+Evangeler" rel="publisher"
                   title="Evangeler on Google Plus" target="_blank">
                    <span class="fa fa-google-plus-square mm-share-btn mm-share-btn--google-plus"></span><span
                        class="footer__social-link-text"> Google+</span>
                </a>
            </div>
        </div>
    </div>
    <br/>

    <div class="mm-tc pull-left">
        <span>© 2014 Evangeler</span>
        {% if '/terms' == path %}
            <span>Terms &amp; Conditions</span>
        {% else %}
            <a href="/terms" title="Terms &amp; Conditions" onclick="return APP.goto('terms')">Terms &amp; Conditions</a>
        {% endif %}
        |

        {% if '/privacy' == path %}
            <span>Privacy</span>
        {% else %}
            <a href="/privacy" title="Privacy" onclick="return APP.goto('privacy')">Privacy</a>
        {% endif %}
        |

        {% if '/refunds' == path %}
            <span>Refunds</span>
        {% else %}
            <a href="/refunds" title="Money Back Guarantee" onclick="return APP.goto('refunds')">Refunds</a>
        {% endif %}
    </div>

</div>
