

<div class="mm-header">
    <div class="mm-logo">
        <a href="/" class="mm-logo__link" title="Evangeler - Social Marketing For The Masses!">
            <img src="/static/img/evangeler-logo64.png" class="mm-logo__image" width="64" height="64"
                 alt="Evangeler">

            <h1 class="mm-logo__text">Evangeler</h1>
        </a>
    </div>
    <div class="mm-header__nav">
        <a class="mm-header__link" href="/how-it-works" title="How It Works"
           onclick="APP.router.navigate('how-it-works', {trigger: true});return false">
            How It Works
        </a>
    </div>
</div>
