
<div class="mm-hero">
    <h2 class="mm-marketing-text">
        1: Sign up with Facebook!
    </h2>

    <h3 class="mm-marketing-text mm-marketing-text--smaller">
        We'll create a page for your business on Evangeler.com!
    </h3>
    <button type="button" class="gameon-btn-hg btn btn-warning btn-lg" onclick="window.facebookWrapper.fb_login();return false">Login With Facebook
    </button>
</div>
<div class="mm-hero mm-hero--light">
    <h2 class="mm-marketing-text mm-marketing-text--black">
        2: Pick &amp; run a viral marketing contest you like!
    </h2>

    <h3 class="mm-marketing-text mm-marketing-text--smaller mm-marketing-text--black">
        Evangelers from all over the world compete to promote your product and win cash prizes!
    </h3>
    <button type="button" class="gameon-btn-hg btn btn-success btn-lg">Browse Categories
    </button>
</div>
<div class="mm-hero mm-hero--secondary">
    <h2 class="mm-marketing-text">
        3: Award a winner!
    </h2>

    <h3 class="mm-marketing-text mm-marketing-text--smaller">
        For best results share your contest at every stage!
    </h3>
</div>
