{% macro backbtn() -%}
    <button type="button" class="back-btn gameon-btn-hg btn btn-info btn-lg"><span
            class="glyphicon glyphicon-arrow-left"></span></button>
{%- endmacro %}

{% macro logo() -%}
    <a href="/" class="mm-logo__link" title="Evangeler - Social Marketing For The Masses!"
       onclick="return gameon.gotoLink(this)" target="_blank">
        <img src="/static/img/evangeler-logo64.png" class="mm-logo__image" width="64" height="64"
             alt="Evangeler">

        <h1 class="mm-logo__text">Evangeler</h1>
    </a>
{%- endmacro %}



{% macro start() -%}
    <div class="mm-header">
        <div class="mm-logo">
            {{ logo() }}
        </div>
    </div>
    <div class="mm-hero">
        <p class="mm-marketing-text">
            Promote your product with the power of the people!
        </p>

        <p class="mm-marketing-text mm-marketing-text--smaller">
            Create viral marketing campaigns and appeal to the masses!
        </p>
        <button type="button" class="gameon-btn-hg btn btn-success btn-lg">Get Started Now!
        </button>
    </div>
    <div class="mm-hero mm-hero--light">
        <button type="button" class="gameon-btn-hg btn btn-info btn-lg" onclick="views.options()">Options</button>
    </div>
    <div class="mm-hero mm-hero--secondary">
        <button type="button" class="gameon-btn-hg btn btn-info btn-lg" onclick="views.options()">Options</button>
    </div>
    {{ footer() }}
{%- endmacro %}

{% macro howitworks() -%}
    <div class="mm-header">
        <div class="mm-logo">
            {{ logo() }}
        </div>
    </div>
    <div class="mm-hero">
        <p class="mm-marketing-text">
            Promote your product with the power of the people!
        </p>

        <p class="mm-marketing-text mm-marketing-text--smaller">
            Create viral marketing campaigns and appeal to the masses!
        </p>
        <button type="button" class="gameon-btn-hg btn btn-success btn-lg">Get Started Now!
        </button>
    </div>
    <div class="mm-hero mm-hero--light">
        <button type="button" class="gameon-btn-hg btn btn-info btn-lg" onclick="views.options()">Options</button>
    </div>
    <div class="mm-hero mm-hero--secondary">
        <button type="button" class="gameon-btn-hg btn btn-info btn-lg" onclick="views.options()">Options</button>
    </div>
    {{ footer() }}
{%- endmacro %}


{% macro difficulties() -%}

    {{ backbtn() }}
    <div class="mm-logo">
        {{ logo() }}
    </div>
    <div class="mm-difficulty mm-difficulty--{{ fixtures.EASY }}">
        <button type="button" class="mm-difficulty__btn gameon-btn-hg btn btn-success btn-lg"
                onclick="views.levels(EASY)">Easy
        </button>
    </div>
    <div class="mm-difficulty mm-difficulty--{{ fixtures.MEDIUM }}">
        <button type="button" class="mm-difficulty__btn gameon-btn-hg btn btn-success btn-lg"
                onclick="views.levels(MEDIUM)"
                disabled="disabled"><span
                class="glyphicon glyphicon-lock"></span>Medium
        </button>
    </div>
    <div class="mm-difficulty mm-difficulty--{{ fixtures.HARD }}">
        <button type="button" class="mm-difficulty__btn gameon-btn-hg btn btn-success btn-lg"
                onclick="views.levels(HARD)"
                disabled="disabled"><span
                class="glyphicon glyphicon-lock"></span>Hard
        </button>
    </div>
    <div class="mm-difficulty mm-difficulty--{{ fixtures.EXPERT }}">
        <button type="button" class="mm-difficulty__btn gameon-btn-hg btn btn-success btn-lg"
                onclick="views.levels(EXPERT)"
                disabled="disabled"><span
                class="glyphicon glyphicon-lock"></span>Expert
        </button>
    </div>
{%- endmacro %}


{% macro levels() -%}
    {{ backbtn() }}
    <div class="mm-logo">
        {{ logo() }}
    </div>
    <div class="mm-levels gameon-board">

    </div>
{%- endmacro %}

{% macro level() -%}
    {{ backbtn() }}
    <div class="mm-logo">
        <div class="mm-level-controls">
            <div class="mm-end-condition">
                <p>Time: <span class="gameon-clock"></span></p>
            </div>
            <div class="mm-volume">

            </div>
            <div class="clear"></div>
            <div class="mm-starbar">

            </div>
        </div>
    </div>
    <div class="mm-level gameon-board">

    </div>
    <div class="mm-equation gameon-board">

    </div>
{%- endmacro %}

{% macro donelevel() -%}
    <div class="mm-logo">
        <div class="mm-starbar mm-starbar--center">

        </div>
        <div class="mm-end-message">
            <p>Excellent!</p>
        </div>
        <div class="mm-level-controls">
            <div class="left">
                <button id="mm-replay" type="button" class="mm-difficulty__btn gameon-btn-hg btn btn-success btn-lg"
                        >Replay
                </button>
            </div>
            <div class="right">
                <button id="mm-next-level" type="button" class="mm-difficulty__btn gameon-btn-hg btn btn-success btn-lg"
                        disabled="disabled"><span
                        class="glyphicon glyphicon-lock"></span>Next
                </button>
            </div>
            <div class="clear"></div>
            <div class="text-center">
                <button type="button" class="mm-difficulty__btn gameon-btn-hg btn btn-success btn-lg"
                        onclick="views.difficulties()"
                        >Menu
                </button>
            </div>
        </div>
    </div>
{%- endmacro %}


{% macro options() -%}

    {{ backbtn() }}
    <div class="mm-logo">
        {{ logo() }}
    </div>
    <div class="mm-difficulty">
        <a href="/terms" class="mm-difficulty__btn gameon-btn-hg btn btn-success btn-lg"
           onclick="return gameon.gotoLink(this)" target="_blank">
            Terms
        </a>
    </div>
    <div class="mm-difficulty">
        <a href="/privacy" class="mm-difficulty__btn gameon-btn-hg btn btn-success btn-lg"
           onclick="return gameon.gotoLink(this)" target="_blank">
            Privacy
        </a>
    </div>
{%- endmacro %}



{%- macro footer() %}
    <div class="mm-footer">
        <div class="row">
            <div class="col-md-6">
                <div class="mm-footer__section">

                    <h4 class="mm-footer__heading">Company</h4>
                    {% if '/contact' in url %}
                        <span>Contact</span>
                    {% else %}
                        <a class="footer__link" href="/contact" title="Contact Us">Contact</a>
                    {% endif %}
                    {% if '/about' in url %}
                        <span>About Us</span>
                    {% else %}
                        <a class="footer__link" href="/about" title="About Evangeler">About</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="mm-footer__section">

                    <h4 class="mm-footer__heading">Social</h4>
                    <a class="footer__link" href="http://www.facebook.com/evangeler" title="Evangeler on Facebook" target="_blank">
                        <span class="fa fa-facebook-square mm-share-btn mm-share-btn--facebook"></span><span
                            class="footer__social-link-text"> Facebook</span>
                    </a>
                    <a class="footer__link" href="http://www.twitter.com/evangeler" title="Evangeler on Twitter" target="_blank">
                        <span class="fa fa-twitter-square mm-share-btn mm-share-btn--twitter"></span><span
                            class="footer__social-link-text"> Twitter</span>
                    </a>
                    <a class="footer__link" href="http://www.pinterest.com/evangeler" title="Evangeler on Pinterest" target="_blank">
                        <span class="fa fa-pinterest-square mm-share-btn mm-share-btn--pinterest"></span><span
                            class="footer__social-link-text"> Pinterest</span>
                    </a>
                    <a class="footer__link" href="https://plus.google.com/104379684009420242235" rel="publisher" title="Evangeler on Google Plus" target="_blank">
                        <span class="fa fa-google-plus-square mm-share-btn mm-share-btn--google-plus"></span><span
                            class="footer__social-link-text"> Google+</span>
                    </a>
                </div>
            </div>
        </div>
        <br/>

        <div class="mm-tc pull-left">
            <span>© 2014 Evangeler</span>
            {% if '/terms' in url %}
                <span>Terms &amp; Conditions</span>
            {% else %}
                <a href="/terms" title="Terms &amp; Conditions">Terms &amp; Conditions</a>
            {% endif %}
            |

            {% if '/privacy-policy' in url %}
                <span>Privacy</span>
            {% else %}
                <a href="/privacy" title="Privacy">Privacy</a>
            {% endif %}
        </div>

    </div>
{%- endmacro %}
