{% macro backbtn() -%}
    <button type="button" class="back-btn gameon-btn-hg btn btn-info btn-lg"><span
            class="glyphicon glyphicon-arrow-left"></span></button>
{%- endmacro %}

{% macro logo() -%}
    <a href="/" class="mm-logo__link" title="Evangeler - Social Marketing For The Masses!"
       onclick="return gameon.gotoLink(this)" target="_blank">
        <img src="/static/img/evangeler-logo64.png" class="mm-logo__image" width="64" height="64"
             alt="Evangeler">

        <h1 class="mm-logo__text">Evangeler</h1>
    </a>
{%- endmacro %}


{%- macro footer() %}
    <div class="footer">
        <p>
            {% if '/contact' in url %}
                <span>Contact</span>
            {% else %}
                <a class="footer__link" href="/contact" title="Contact Us">Contact</a>
            {% endif %}
            {% if '/about' in url %}
                <span>About Us</span>
            {% else %}
                <a class="footer__link" href="/about" title="About Evangeler">About</a>
            {% endif %}
            {% if '/terms' in url %}
                <span>Terms &amp; Conditions</span>
            {% else %}
                <a class="footer__link" href="/terms" title="Terms &amp; Conditions">Terms &amp; Conditions</a>
            {% endif %}
            {% if '/privacy-policy' in url %}
                <span>Privacy Policy</span>
            {% else %}
                <a class="footer__link" href="/privacy" title="Privacy">Privacy</a>
            {% endif %}

            <span>© 2013 <a class="footer__link" href="http://www.evangeler.com" title="Evangeler"
                            target="_blank">Evangeler</a></span>
            <a href="http://www.facebook.com/evangeler" title="Evangeler on Facebook" target="_blank">
                <img src="/static/img/facebook.jpg" alt="Evangeler on Facebook" width="144" height="44"/>
            </a>

        <div class="g-plus" data-href="//plus.google.com/116949277834973226564" data-rel="publisher"></div>

        <!-- Place this tag after the last badge tag. -->
        <script type="text/javascript">
            (function () {
                var po = document.createElement('script');
                po.type = 'text/javascript';
                po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(po, s);
            })();
        </script>
        <br/>
        <a href="https://twitter.com/evangeler" class="twitter-follow-button" data-show-count="false" data-size="large">Follow
            @evangeler</a>
        <script>!function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + '://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'twitter-wjs');</script>
        </p>
    </div>
{%- endmacro %}

{% macro start() -%}
    <div class="mm-logo">
        {{ logo() }}
    </div>
    <div class="mm-hero">
        <button type="button" class="gameon-btn-hg btn btn-success btn-lg" onclick="views.difficulties()">Play Now!
        </button>
    </div>
    <div class="mm-secondary">
        <button type="button" class="gameon-btn-hg btn btn-info btn-lg" onclick="views.options()">Options</button>
    </div>
    {{ footer() }}
{%- endmacro %}


{% macro difficulties() -%}

    {{ backbtn() }}
    <div class="mm-logo">
        {{ logo() }}
    </div>
    <div class="mm-difficulty mm-difficulty--{{ fixtures.EASY }}">
        <button type="button" class="mm-difficulty__btn gameon-btn-hg btn btn-success btn-lg"
                onclick="views.levels(EASY)">Easy
        </button>
    </div>
    <div class="mm-difficulty mm-difficulty--{{ fixtures.MEDIUM }}">
        <button type="button" class="mm-difficulty__btn gameon-btn-hg btn btn-success btn-lg"
                onclick="views.levels(MEDIUM)"
                disabled="disabled"><span
                class="glyphicon glyphicon-lock"></span>Medium
        </button>
    </div>
    <div class="mm-difficulty mm-difficulty--{{ fixtures.HARD }}">
        <button type="button" class="mm-difficulty__btn gameon-btn-hg btn btn-success btn-lg"
                onclick="views.levels(HARD)"
                disabled="disabled"><span
                class="glyphicon glyphicon-lock"></span>Hard
        </button>
    </div>
    <div class="mm-difficulty mm-difficulty--{{ fixtures.EXPERT }}">
        <button type="button" class="mm-difficulty__btn gameon-btn-hg btn btn-success btn-lg"
                onclick="views.levels(EXPERT)"
                disabled="disabled"><span
                class="glyphicon glyphicon-lock"></span>Expert
        </button>
    </div>
{%- endmacro %}


{% macro levels() -%}
    {{ backbtn() }}
    <div class="mm-logo">
        {{ logo() }}
    </div>
    <div class="mm-levels gameon-board">

    </div>
{%- endmacro %}

{% macro level() -%}
    {{ backbtn() }}
    <div class="mm-logo">
        <div class="mm-level-controls">
            <div class="mm-end-condition">
                <p>Time: <span class="gameon-clock"></span></p>
            </div>
            <div class="mm-volume">

            </div>
            <div class="clear"></div>
            <div class="mm-starbar">

            </div>
        </div>
    </div>
    <div class="mm-level gameon-board">

    </div>
    <div class="mm-equation gameon-board">

    </div>
{%- endmacro %}

{% macro donelevel() -%}
    <div class="mm-logo">
        <div class="mm-starbar mm-starbar--center">

        </div>
        <div class="mm-end-message">
            <p>Excellent!</p>
        </div>
        <div class="mm-level-controls">
            <div class="left">
                <button id="mm-replay" type="button" class="mm-difficulty__btn gameon-btn-hg btn btn-success btn-lg"
                        >Replay
                </button>
            </div>
            <div class="right">
                <button id="mm-next-level" type="button" class="mm-difficulty__btn gameon-btn-hg btn btn-success btn-lg"
                        disabled="disabled"><span
                        class="glyphicon glyphicon-lock"></span>Next
                </button>
            </div>
            <div class="clear"></div>
            <div class="text-center">
                <button type="button" class="mm-difficulty__btn gameon-btn-hg btn btn-success btn-lg"
                        onclick="views.difficulties()"
                        >Menu
                </button>
            </div>
        </div>
    </div>
{%- endmacro %}


{% macro options() -%}

    {{ backbtn() }}
    <div class="mm-logo">
        {{ logo() }}
    </div>
    <div class="mm-difficulty">
        <a href="/terms" class="mm-difficulty__btn gameon-btn-hg btn btn-success btn-lg"
           onclick="return gameon.gotoLink(this)" target="_blank">
            Terms
        </a>
    </div>
    <div class="mm-difficulty">
        <a href="/privacy" class="mm-difficulty__btn gameon-btn-hg btn btn-success btn-lg"
           onclick="return gameon.gotoLink(this)" target="_blank">
            Privacy
        </a>
    </div>
{%- endmacro %}
