<div class="mm-hero">
    <h3 class="mm-marketing-text mm-marketing-text--smaller">
        New Page
    </h3>
</div>
<div class="mm-hero mm-hero--light">
    <h2 class="mm-marketing-text mm-marketing-text--black">
        Social Marketing Helps Business!
    </h2>

    <h3 class="mm-marketing-text mm-marketing-text--smaller mm-marketing-text--black">
        Evangeler gives businesses direct access to millions of marketers!
    </h3>
    <button type="button" class="gameon-btn-hg btn btn-success btn-lg">Browse Marketing Categories
    </button>
</div>
<div class="mm-hero mm-hero--secondary">
    <h2 class="mm-marketing-text">
        Social Marketing Helps People!
    </h2>

    <h3 class="mm-marketing-text mm-marketing-text--smaller">
        Win cash prizes for promoting products you love!
    </h3>
    <button type="button" class="gameon-btn-hg btn btn-warning btn-lg">Browse Marketing Contests
    </button>
</div>
