<div class="mm-article-theme">

    <h1>Returns & Refunds</h1>

    <p>Thanks for using Evangeler.com.</p>

    <p>If you are not entirely satisfied with your purchase, we're here to help.</p>

    <p><strong>Refunds</strong><br/>You have 60 calendar days to refund a contest from the date you launched it.</p>

    <p>Your item needs to have proof of purchase (You have to be the one who launched it).</p>

    <p>If your refund is approved, we will initiate a refund to your credit card (or original method of payment). You
        will receive the credit within a certain amount of days, depending on your card issuer's policies.</p>

    <p><strong>How To Refund Your Contest</strong><br/>To refund you contest, change the title to include the text "[refunded]"
        and
        <a href="mailto:leepenkman@evangeler.com" type="button" class="mm-btn-hg btn btn-warning btn-lg">
            Email Us
        </a>
    </p>

    <p>Please remember to email us with the same email address used on your evangeler account.</p>

    <p><strong>Your refunded contest will remain a publicly visible record.</strong></p>

    <p><strong>Contact Us</strong><br/>If you have any questions on how to refund your contest, contact us.</p>
</div>
