{% include "templates/shared/header.jinja2" %}
<div class="mm-hero">
    <h2 class="mm-marketing-text">
        Promote your product with the power of the people!
    </h2>

    <h3 class="mm-marketing-text mm-marketing-text--smaller">
        Create viral marketing campaigns and appeal to the masses!
    </h3>
    <button type="button" class="gameon-btn-hg btn btn-warning btn-lg">Get Started Now!
    </button>
</div>
<div class="mm-hero mm-hero--light">
    <h2 class="mm-marketing-text mm-marketing-text--black">
        Become an Evangeler!
    </h2>

    <h3 class="mm-marketing-text mm-marketing-text--smaller mm-marketing-text--black">
        Make Money talking about products you love!
    </h3>
    <button type="button" class="gameon-btn-hg btn btn-success btn-lg">Browse Contests
    </button>
</div>
<div class="mm-hero mm-hero--secondary">
    <h2 class="mm-marketing-text">
        Run an Evangeler contest Free!
    </h2>

    <h3 class="mm-marketing-text mm-marketing-text--smaller">
        Only For A Limited Time!
    </h3>
    <button type="button" class="gameon-btn-hg btn btn-warning btn-lg">Get Started Now!
    </button>
</div>
{% include "templates/shared/footer.jinja2" %}
