<div class="mm-terms mm-article-theme">
    <h1>evangeler.com Terms and Conditions ("Agreement")</h1>

    <p>This Agreement was last modified on March 10, 2014.</p>

    <p>Please read these Terms and Conditions ("Agreement", "Terms and Conditions") carefully before using
        http://www.evangeler.com ("the Site") operated by Word Smashing (ABN 29537306446) ("us", "we", or "our"). This Agreement sets
        forth the legally binding terms and conditions for your use of the Site at http://www.evangeler.com.</p>

    <p>By accessing or using the Site in any manner, including, but not limited to, visiting or browsing the Site or
        contributing content or other materials to the Site, you agree to be bound by these Terms and Conditions.
        Capitalized terms are defined in this Agreement.</p>

    <p><strong>1.1 General.</strong><br>
    Evangeler provides an online platform that helps connect customers who wish to purchase marketing (“Customers”) and
    marketers who wish to provide such services (“Marketers”), including, for example, through Social Marketing Contests,
     (the “Services”). “User”
    means any user of the Site or Service, and may be a Marketer or a Customer. If you are a User, the provisions in
    this Agreement regarding Users apply to you. If you are also a Customer, further the provisions in this Agreement
    regarding Customers apply to you. If you are also a Marketer, further the provisions in this Agreement regarding
    Marketers apply to you. “Marketing Contest Winner” means the applicable winning Marketer. “Sale” means the applicable sale.
    “IPR” means all trade secrets, copyrights, trademarks, mask work rights, patents and other intellectual property
    rights recognized by the laws of any country.</p>

    <p><strong>1.2 Service.</strong><br>
        (a) Customer may create a social marketing contest (“social marketing contest”) by creating a brief (“Marketing Brief”), paying
        the Customer Payment and following the other instructions on the Site. The Marketing Brief must clearly specify the
        requirements for the social marketing contest, such that Marketers clearly know the rules and criteria on which their
        Marketing Work will be judged. There are currently two types of social marketing contests: (1) the default Pre-Paid
        Contest and (2) the Guaranteed Contest. Marketers invited by Evangeler (in Evangeler’ sole discretion) to enter
        a social marketing contest may submit Marketing Work (“Marketing Work”) in the format specified by Evangeler by
        following the instructions on the Site. Marketing Work must comply with the Marketing Brief. (b) For Guaranteed
        Contests, Customer must select one or more winning Marketing Work by a certain time specified by Evangeler. If
        no winner is selected in the qualifying round of a Guaranteed Contest, Evangeler will retain the Customer
        Payment, Evangeler will distribute the Marketer Fee equally among the Marketers who participated in the
        Guaranteed Contest and who have won a social marketing contest in the past and who have not breached this Agreement, and
        Customer will have no right to a refund or to use the Marketing Work. If no winner is selected in the final
        round of a Guaranteed Contest, Evangeler will retain the Customer Payment, Evangeler will distribute the
        Marketer Fee equally among the finalists who satisfy criteria determined by Evangeler’ in its sole discretion,
        in the final round of the Guaranteed Contest, and Customer will have no right to a refund or to use the Marketing Work
        Concepts. (c) For Pre-Paid Contests, Customer must select one or more winning Marketing Work by the time the
        Pre-Paid Contest closes. Customer may withdraw Pre-Paid Contest (but not a Guaranteed Contest) for a refund of
        the Customer Payment before 60 days after he start of the Contest. Customer may
        additionally seek a refund of the Customer Payment for a Pre-Paid Contest (but not a Guaranteed Contest) at any
        time up to 60 days after the date of payment for the Pre-Paid Contest, but only if winners were not chosen by
        Customer. (d) For the avoidance of doubt, Customer has no right or license to use any Marketing Work other than
        the Winning Marketing Work. Customer may not: (a) run a social marketing contest if Customer is tendering the creation of the same
        Marketing Work through a service other than the Site (this Section (a) does not apply to customers located in the EEA);
        (b) allow or request Marketers to submit Marketing Work to Customer via any means other than via the Site; and
        (c) collude in relation to the awarding of a winner in a social marketing contest or awarding a separate account held by
        Customer as the successful Marketer in a social marketing contest. Customers and Marketers must deal on an arm’s length
        basis Customer may not cancel any social marketing contest for the purpose of contracting separately with a Marketer who
        Customer meets through the Site which results in Customer avoiding paying Evangeler any Customer Payment or any
        fees and charges of Evangeler. (e) Some jurisdictions provide Customer certain mandatory statutory rights (e.g.,
        right to supplementary performance (e.g., rectification or replacement), right for a refund, right to
        withdrawal, right to reduce the price and right to damages in case the Marketing Work are defective)
        (collectively, “Mandatory Statutory Rights”) which remain unaffected.</p>

    <p><strong>2. Payment Terms.</strong><br>

    The following terms apply to Customers who have purchased Marketing Work and Marketers who have sold Marketing Work.
    </p>

    <p><strong>2.1 Payment and Delivery.</strong><br>

    For the Social Marketing Contest, (a) Customer will pay the Customer Payment to Evangeler and
    Evangeler will pay the Marketer the Prize (subject to first receiving payment from Customer), and (b) Marketer
    will upload the Marketing Work and Evangeler will deliver the Marketing Work to the Customer, in a format specified by
    Evangeler. The “Customer Payment” means (i) the price selected by Customer
    when Customer created a Social Marketing Contest as set forth at http://www.evangeler.com/how-it-works</p>

    <p><strong>2.3 General Payment Terms.</strong><br>
    All payment will be in the local currency based on the location of the Site. You agree that you are responsible for
    the collection and/or payment of all Taxes which you may be liable for in any jurisdiction arising from your sale or
    purchase of any Winning Marketing Works via the Site. Evangeler is not responsible for collecting, reporting, paying, or
    remitting to you any such Taxes. “Taxes” means any applicable duties, sales taxes, GST, VAT or other taxes which may
    be levied in respect of a transaction contemplated by this Agreement.</p>

    <p><strong>Intellectual Property</strong><br/>The Site and its original content, features and functionality are
        owned by Word Smashing and are protected by international copyright, trademark, patent, trade secret and other
        intellectual property or proprietary rights laws.</p>

    <p><strong>Termination</strong><br/>We may terminate your access to the Site, without cause or notice, which may
        result in the forfeiture and destruction of all information associated with you. All provisions of this
        Agreement that by their nature should survive termination shall survive termination, including, without
        limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.</p>

    <p><strong>Links To Other Sites</strong><br/>Our Site may contain links to third-party sites that are not owned or
        controlled by Word Smashing.</p>

    <p>Word Smashing has no control over, and assumes no responsibility for, the content, privacy policies, or practices
        of any third party sites or services. We strongly advise you to read the terms and conditions and privacy policy
        of any third-party site that you visit.</p>

    <p><strong>Governing Law</strong><br/>This Agreement (and any further rules, polices, or guidelines incorporated by
        reference) shall be governed and construed in accordance with the laws of Australia, without giving effect to
        any principles of conflicts of law.</p>

    <p><strong>Changes To This Agreement</strong><br/>We reserve the right, at our sole discretion, to modify or replace
        these Terms and Conditions by posting the updated terms on the Site. Your continued use of the Site after any
        such changes constitutes your acceptance of the new Terms and Conditions.</p>

    <p>Please review this Agreement periodically for changes. If you do not agree to any of this Agreement or any
        changes to this Agreement, do not use, access or continue to access the Site or discontinue any use of the Site
        immediately.</p>

    <p><strong>Disclaimers</strong><br>

    The Site and Services are provided “AS-IS” and “AS AVAILABLE” and we (and our suppliers) expressly disclaim any
    warranties and conditions of any kind, whether express or implied, including the warranties or conditions of
    merchantability, fitness for a particular purpose, title, quiet enjoyment, accuracy, or non-infringement. We (and
    our suppliers) make no warranty that the Site or Services: (a) will meet your requirements; (b) will be available on
    an uninterrupted, timely, secure, or error-free basis; or (c) will be accurate, reliable, free of viruses or other
    harmful code, complete, legal, or safe. Some states do not allow the exclusion of implied warranties, so the above
    exclusion may not apply to you.<br><br>

    The following Section applies to users in the EEA and Switzerland: Evangeler is liable for defects in accordance
    with the applicable statutory provisions. With regard to companies, the warranty period is limited to twelve (12)
    months. An additional warranty is only provided if this has been expressly agreed.**</p>

    <p><strong>Contact Us</strong><br/>If you have any questions about this Agreement, please contact us.</p>
</div>
