{% macro cssheaders() -%}
    <link type="text/css" rel="stylesheet" href="/lib/static/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
{%- endmacro %}

{% macro jsheaders() -%}
    <script type="text/javascript" src="/lib/static/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/lib/static/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="/lib/static/bower_components/underscore/underscore.js"></script>
    <script type="text/javascript" src="/lib/static/bower_components/backbone/backbone.js"></script>
    <script type="text/javascript" src="/lib/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/lib/static/js/models.js"></script>
{%- endmacro %}

{% macro templates() -%}


{%- endmacro %}

